WPF_App/WPF_App/Service References/WCFArithmaticService/ArithmaticService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ArithmaticService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55340/ArithmaticService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55340/ArithmaticService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55340/ArithmaticService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Arithmath" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IArithmaticService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IArithmaticService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IArithmaticService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IArithmaticService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IArithmaticService_GetAddition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddition" />
  </wsdl:message>
  <wsdl:message name="IArithmaticService_GetAddition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdditionResponse" />
  </wsdl:message>
  <wsdl:message name="IArithmaticService_GetSubtraction_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubtraction" />
  </wsdl:message>
  <wsdl:message name="IArithmaticService_GetSubtraction_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubtractionResponse" />
  </wsdl:message>
  <wsdl:message name="IArithmaticService_GetMultiplicaiton_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMultiplicaiton" />
  </wsdl:message>
  <wsdl:message name="IArithmaticService_GetMultiplicaiton_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMultiplicaitonResponse" />
  </wsdl:message>
  <wsdl:message name="IArithmaticService_GetDivide_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDivide" />
  </wsdl:message>
  <wsdl:message name="IArithmaticService_GetDivide_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDivideResponse" />
  </wsdl:message>
  <wsdl:portType name="IArithmaticService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IArithmaticService/GetData" message="tns:IArithmaticService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArithmaticService/GetDataResponse" message="tns:IArithmaticService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IArithmaticService/GetDataUsingDataContract" message="tns:IArithmaticService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArithmaticService/GetDataUsingDataContractResponse" message="tns:IArithmaticService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAddition">
      <wsdl:input wsaw:Action="http://tempuri.org/IArithmaticService/GetAddition" message="tns:IArithmaticService_GetAddition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArithmaticService/GetAdditionResponse" message="tns:IArithmaticService_GetAddition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubtraction">
      <wsdl:input wsaw:Action="http://tempuri.org/IArithmaticService/GetSubtraction" message="tns:IArithmaticService_GetSubtraction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArithmaticService/GetSubtractionResponse" message="tns:IArithmaticService_GetSubtraction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMultiplicaiton">
      <wsdl:input wsaw:Action="http://tempuri.org/IArithmaticService/GetMultiplicaiton" message="tns:IArithmaticService_GetMultiplicaiton_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArithmaticService/GetMultiplicaitonResponse" message="tns:IArithmaticService_GetMultiplicaiton_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDivide">
      <wsdl:input wsaw:Action="http://tempuri.org/IArithmaticService/GetDivide" message="tns:IArithmaticService_GetDivide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArithmaticService/GetDivideResponse" message="tns:IArithmaticService_GetDivide_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IArithmaticService" type="tns:IArithmaticService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IArithmaticService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IArithmaticService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddition">
      <soap:operation soapAction="http://tempuri.org/IArithmaticService/GetAddition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubtraction">
      <soap:operation soapAction="http://tempuri.org/IArithmaticService/GetSubtraction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMultiplicaiton">
      <soap:operation soapAction="http://tempuri.org/IArithmaticService/GetMultiplicaiton" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDivide">
      <soap:operation soapAction="http://tempuri.org/IArithmaticService/GetDivide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArithmaticService">
    <wsdl:port name="BasicHttpBinding_IArithmaticService" binding="tns:BasicHttpBinding_IArithmaticService">
      <soap:address location="http://localhost:55340/ArithmaticService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>