WPF_App/WPF_App/Service References/WCFArithmaticService/ArithmaticService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Arithmath" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Arithmath" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Operand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Operand_one" type="xs:int" />
      <xs:element minOccurs="0" name="Operand_two" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Operand" nillable="true" type="tns:Operand" />
</xs:schema>